apiVersion: v1
kind: Pod
metadata:
  name: sonarqube-pod
  namespace: sonarqube
  labels:
    app: sonarqube
spec:
  containers:
    - name: sonarqube
      image: sonarqube:9.9.0-community
      ports:
        - containerPort: 9000
      env:
        - name: SONAR_ES_BOOTSTRAP_CHECKS_DISABLE
          value: "true"
      resources:
        requests:
          memory: "2Gi"
          cpu: "2"
        limits:
          memory: "3Gi"
          cpu: "2"
      volumeMounts:
        - name: sonarqube-data
          mountPath: /opt/sonarqube/data
        - name: sonarqube-extensions
          mountPath: /opt/sonarqube/extensions
        - name: sonarqube-logs
          mountPath: /opt/sonarqube/logs
  volumes:
    - name: sonarqube-data
      emptyDir: {}
    - name: sonarqube-extensions
      emptyDir: {}
    - name: sonarqube-logs
      emptyDir: {}
  restartPolicy: Never
